In [2]:
import requests
import pandas as pd
from pathlib import Path
import io # To fix the FutureWarning

YEAR = "2024"
TARGET_URL = f"https://www.spotrac.com/nba/cap/_/year/{YEAR}"

PROJECT_ROOT = Path().resolve().parent.parent
RAW_SALARY_FILE = PROJECT_ROOT / "data" / "raw" / "raw_team_caps.csv"

print(f"Project Root: {PROJECT_ROOT}")
print(f"Target URL: {TARGET_URL}")
print(f"Target File: {RAW_SALARY_FILE}")

Project Root: /Users/macychen/VSCodeProjects/Analysis-of-NBA-Contract-Valuation-Bias
Target URL: https://www.spotrac.com/nba/cap/_/year/2024
Target File: /Users/macychen/VSCodeProjects/Analysis-of-NBA-Contract-Valuation-Bias/data/raw/raw_team_caps.csv

In [33]:
# Set browser header
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
}

all_teams_df = pd.DataFrame()

try:
    response = requests.get(TARGET_URL, headers=headers)
    response.raise_for_status()
        
    # Use io.StringIO to avoid the warning
    tables = pd.read_html(io.StringIO(response.text))
        
    if tables:
        # Directly assign the first table to the DataFrame
        all_teams_df = tables[0]
        
        # Rename columns if needed
        if len(all_teams_df.columns) == 10:
            all_teams_df.columns = ['rank', 'team', 'record', 'active_players', 'avg_team_age', 
                                   'total_cap_used', 'remaining_cap_space', 'active_cap', 
                                   'active_top_3', 'dead_cap']
    else:
        print(f"No tables found.")
            
except requests.exceptions.RequestException as e:
    print(f"Error fetching page: {e}")

all_teams_df

,rank,team,record,active_players,avg_team_age,total_cap_used,remaining_cap_space,active_cap,active_top_3,dead_cap
0,1.0,DET DET,44-38,15.0,25.0,"$141,808,220","$-1,220,220","$133,989,678","$56,559,037","$7,818,542"
1,2.0,ORL ORL,41-41,15.0,25.3,"$152,959,238","$-12,371,238","$152,959,238","$63,257,000",-
2,3.0,UTA UTA,17-65,15.0,23.9,"$154,114,022","$-13,526,022","$142,648,013","$86,906,400","$11,466,009"
3,4.0,SAS SAS,34-48,15.0,25.2,"$162,809,380","$-22,221,380","$155,231,927","$83,196,166","$7,577,453"
4,5.0,OKC OKC,68-14,15.0,24.2,"$166,001,694","$-25,413,694","$162,209,242","$82,859,950","$3,792,452"
5,6.0,CHA CHA,19-63,15.0,25.2,"$167,423,486","$-26,835,486","$152,436,862","$80,445,913","$14,986,624"
6,7.0,MEM MEM,48-34,15.0,24.6,"$167,814,933","$-27,226,933","$155,850,296","$95,988,718","$8,014,853"
7,8.0,CHI CHI,39-43,15.0,24.6,"$168,006,873","$-27,418,873","$157,180,244","$59,395,348","$8,739,110"
8,9.0,PHI PHI,24-58,15.0,26.6,"$170,340,647","$-29,752,647","$169,548,876","$135,768,738","$791,771"
9,10.0,IND IND,50-32,15.0,25.7,"$171,232,577","$-30,644,577","$166,839,774","$104,281,300","$2,530,538"
10,11.0,SAC SAC,40-42,15.0,27.4,"$171,370,782","$-30,782,782","$166,101,303","$107,131,940","$1,319,695"
11,12.0,HOU HOU,52-30,15.0,25.7,"$173,496,349","$-32,908,349","$161,552,948","$78,702,108","$7,768,363"
12,13.0,ATL ATL,40-42,15.0,25.3,"$174,418,704","$-33,830,704","$161,255,749","$81,912,604","$7,125,652"
13,14.0,LAC LAC,50-32,15.0,27.7,"$174,670,238","$-34,082,238","$166,986,734","$102,101,025","$3,733,720"
14,15.0,POR POR,36-46,15.0,23.9,"$176,848,446","$-36,260,446","$165,518,581","$89,691,087","$1,568,032"
15,16.0,CLE CLE,64-18,15.0,26.0,"$178,212,347","$-37,624,347","$169,371,096","$93,832,409","$491,175"
16,17.0,TOR TOR,30-52,15.0,24.9,"$178,496,026","$-37,908,026","$154,302,912","$94,310,843","$16,405,595"
17,18.0,BKN BKN,26-56,15.0,23.8,"$178,836,132","$-38,248,132","$112,077,151","$69,311,624","$58,408,905"
18,19.0,MIA MIA,37-45,15.0,26.6,"$179,350,729","$-38,762,729","$173,088,172","$90,125,126",-
19,20.0,NOP NOP,21-61,15.0,24.3,"$182,966,321","$-42,378,321","$167,934,095","$98,876,138","$2,715,108"
20,21.0,DAL DAL,39-43,15.0,26.8,"$187,147,472","$-46,559,472","$172,077,663","$99,092,456","$2,328,828"
21,22.0,NYK NYK,51-31,15.0,26.5,"$188,877,651","$-48,289,651","$188,001,268","$110,803,733","$876,383"
22,23.0,DEN DEN,50-32,15.0,26.0,"$192,786,656","$-52,198,656","$182,574,315","$123,292,088",-
23,24.0,MIL MIL,48-34,15.0,26.7,"$195,746,447","$-55,158,447","$183,221,333","$122,031,412",-
24,25.0,BOS BOS,61-21,15.0,27.5,"$197,048,229","$-56,460,229","$193,098,445","$114,054,140",-
25,26.0,GSW GSW,48-34,15.0,27.2,"$199,518,342","$-58,930,342","$176,474,440","$128,667,036","$306,447"
26,27.0,LAL LAL,50-32,15.0,27.7,"$200,785,985","$-60,197,985","$182,745,885","$108,760,785","$5,514,986"
27,28.0,WAS WAS,18-64,15.0,24.5,"$211,677,970","$-71,089,970","$162,581,956","$83,151,786","$7,021,331"
28,29.0,PHX PHX,36-46,15.0,28.1,"$228,464,502","$-87,876,502","$210,557,299","$150,588,751","$3,814,041"
29,30.0,MIN MIN,49-33,15.0,26.1,"$236,725,861","$-96,137,861","$198,847,571","$119,077,906","$3,705,899"
30,NaN,Totals,-,450.0,-,"$5,429,956,259","$-1,212,316,259","$4,997,263,066","$2,914,173,567","$188,821,512"
31,NaN,Averages,-,15.0,25.8,"$180,998,542","$-40,410,542","$166,575,436","$97,139,119","$6,294,050"

In [ ]:
# Drop rank column
team_caps_df = all_teams_df.drop('rank', axis = 1)
        
# Clean team column - extract only the first part before space
team_caps_df['team'] = team_caps_df['team'].str.split().str[0]

# Drop last two rows
team_caps_df = team_caps_df.iloc[:-2]

team_caps_df

,team,record,active_players,avg_team_age,total_cap_used,remaining_cap_space,active_cap,active_top_3,dead_cap
0,DET,44-38,15.0,25.0,"$141,808,220","$-1,220,220","$133,989,678","$56,559,037","$7,818,542"
1,ORL,41-41,15.0,25.3,"$152,959,238","$-12,371,238","$152,959,238","$63,257,000",-
2,UTA,17-65,15.0,23.9,"$154,114,022","$-13,526,022","$142,648,013","$86,906,400","$11,466,009"
3,SAS,34-48,15.0,25.2,"$162,809,380","$-22,221,380","$155,231,927","$83,196,166","$7,577,453"
4,OKC,68-14,15.0,24.2,"$166,001,694","$-25,413,694","$162,209,242","$82,859,950","$3,792,452"
5,CHA,19-63,15.0,25.2,"$167,423,486","$-26,835,486","$152,436,862","$80,445,913","$14,986,624"
6,MEM,48-34,15.0,24.6,"$167,814,933","$-27,226,933","$155,850,296","$95,988,718","$8,014,853"
7,CHI,39-43,15.0,24.6,"$168,006,873","$-27,418,873","$157,180,244","$59,395,348","$8,739,110"
8,PHI,24-58,15.0,26.6,"$170,340,647","$-29,752,647","$169,548,876","$135,768,738","$791,771"
9,IND,50-32,15.0,25.7,"$171,232,577","$-30,644,577","$166,839,774","$104,281,300","$2,530,538"
10,SAC,40-42,15.0,27.4,"$171,370,782","$-30,782,782","$166,101,303","$107,131,940","$1,319,695"
11,HOU,52-30,15.0,25.7,"$173,496,349","$-32,908,349","$161,552,948","$78,702,108","$7,768,363"
12,ATL,40-42,15.0,25.3,"$174,418,704","$-33,830,704","$161,255,749","$81,912,604","$7,125,652"
13,LAC,50-32,15.0,27.7,"$174,670,238","$-34,082,238","$166,986,734","$102,101,025","$3,733,720"
14,POR,36-46,15.0,23.9,"$176,848,446","$-36,260,446","$165,518,581","$89,691,087","$1,568,032"
15,CLE,64-18,15.0,26.0,"$178,212,347","$-37,624,347","$169,371,096","$93,832,409","$491,175"
16,TOR,30-52,15.0,24.9,"$178,496,026","$-37,908,026","$154,302,912","$94,310,843","$16,405,595"
17,BKN,26-56,15.0,23.8,"$178,836,132","$-38,248,132","$112,077,151","$69,311,624","$58,408,905"
18,MIA,37-45,15.0,26.6,"$179,350,729","$-38,762,729","$173,088,172","$90,125,126",-
19,NOP,21-61,15.0,24.3,"$182,966,321","$-42,378,321","$167,934,095","$98,876,138","$2,715,108"
20,DAL,39-43,15.0,26.8,"$187,147,472","$-46,559,472","$172,077,663","$99,092,456","$2,328,828"
21,NYK,51-31,15.0,26.5,"$188,877,651","$-48,289,651","$188,001,268","$110,803,733","$876,383"
22,DEN,50-32,15.0,26.0,"$192,786,656","$-52,198,656","$182,574,315","$123,292,088",-
23,MIL,48-34,15.0,26.7,"$195,746,447","$-55,158,447","$183,221,333","$122,031,412",-
24,BOS,61-21,15.0,27.5,"$197,048,229","$-56,460,229","$193,098,445","$114,054,140",-
25,GSW,48-34,15.0,27.2,"$199,518,342","$-58,930,342","$176,474,440","$128,667,036","$306,447"
26,LAL,50-32,15.0,27.7,"$200,785,985","$-60,197,985","$182,745,885","$108,760,785","$5,514,986"
27,WAS,18-64,15.0,24.5,"$211,677,970","$-71,089,970","$162,581,956","$83,151,786","$7,021,331"
28,PHX,36-46,15.0,28.1,"$228,464,502","$-87,876,502","$210,557,299","$150,588,751","$3,814,041"
29,MIN,49-33,15.0,26.1,"$236,725,861","$-96,137,861","$198,847,571","$119,077,906","$3,705,899"

In [5]:
df = pd.read_csv('/Users/macychen/VSCodeProjects/Analysis-of-NBA-Contract-Valuation-Bias/data/raw/Player_Performance_raw.csv')

df_unique = df.drop_duplicates(subset=['TEAM_ID'], keep='first')
df_unique

,PLAYER_ID,PLAYER_NAME,TEAM_ID,E_OFF_RATING,OFF_RATING,sp_work_OFF_RATING,E_DEF_RATING,DEF_RATING,sp_work_DEF_RATING,E_NET_RATING,...,EFG_PCT_RANK,TS_PCT_RANK,USG_PCT_RANK,E_USG_PCT_RANK,E_PACE_RANK,PACE_RANK,sp_work_PACE_RANK,PIE_RANK,FGM_PG_RANK,FGA_PG_RANK
0,2544,LeBron James,1610612747,113.3,112.7,112.7,113.0,114.0,114.0,0.3,...,153,132,21,20,345,333,333,9,7,21
1,101108,Chris Paul,1610612759,113.5,114.2,114.2,114.4,115.0,115.0,-0.9,...,232,227,442,444,310,346,346,186,252,237
2,200768,Kyle Lowry,1610612755,104.2,103.8,103.8,108.9,109.6,109.6,-4.8,...,451,409,549,549,436,439,439,435,462,423
3,200782,P.J. Tucker,1610612752,105.1,106.1,106.1,126.1,127.4,127.4,-21.0,...,32,43,566,565,554,565,565,553,476,482
4,201142,Kevin Durant,1610612756,116.0,116.5,116.5,116.7,117.4,117.4,-0.7,...,86,45,29,28,405,422,422,36,6,22
5,201143,Al Horford,1610612738,119.2,119.6,119.6,106.5,108.1,108.1,12.8,...,236,285,444,451,490,524,524,259,228,207
6,201144,Mike Conley,1610612750,114.5,115.5,115.5,108.0,109.0,109.0,6.5,...,277,246,429,429,482,515,515,253,293,262
7,201145,Jeff Green,1610612745,109.9,112.2,112.2,115.2,116.1,116.1,-5.3,...,49,38,409,419,238,347,347,307,374,395
8,201566,Russell Westbrook,1610612743,115.5,115.7,115.7,114.6,116.2,116.2,0.9,...,375,396,95,99,81,130,130,238,119,108
9,201567,Kevin Love,1610612748,108.9,108.7,108.7,112.7,112.3,112.3,-3.9,...,474,481,98,104,122,127,127,145,391,330
11,201572,Brook Lopez,1610612749,114.1,114.8,114.8,111.6,112.7,112.7,2.5,...,85,82,341,364,308,358,358,293,122,140
12,201587,Nicolas Batum,1610612746,110.8,110.5,110.5,104.9,104.7,104.7,5.9,...,52,64,554,555,408,361,361,419,443,446
15,201939,Stephen Curry,1610612744,116.9,118.4,118.4,112.3,112.7,112.7,4.7,...,149,91,25,24,176,235,235,31,31,24
16,201942,DeMar DeRozan,1610612758,115.3,116.8,116.8,114.5,115.3,115.3,0.8,...,365,266,67,71,380,435,435,133,29,33
17,201949,James Johnson,1610612754,104.7,97.4,97.4,118.8,110.5,110.5,-14.1,...,527,540,303,241,564,355,355,554,546,554
19,201959,Taj Gibson,1610612766,96.9,96.6,96.6,110.7,110.4,110.4,-13.8,...,386,429,462,462,461,430,430,425,453,472
21,202066,Garrett Temple,1610612761,107.2,106.6,106.6,113.4,111.1,111.1,-6.2,...,533,526,474,477,72,46,46,505,520,487
23,202681,Kyrie Irving,1610612742,115.4,116.5,116.5,112.6,113.9,113.9,2.7,...,225,167,50,48,313,386,386,71,16,13
24,202684,Tristan Thompson,1610612739,98.4,97.2,97.2,109.0,109.8,109.8,-10.5,...,497,525,499,497,384,339,339,316,499,508
31,202696,Nikola Vuevi,1610612741,113.2,113.6,113.6,114.5,116.0,116.0,-1.2,...,98,111,116,121,57,107,107,50,40,61
32,202699,Tobias Harris,1610612765,113.1,114.7,114.7,109.4,110.8,110.8,3.7,...,282,259,271,279,204,308,308,201,107,109
34,202709,Cory Joseph,1610612753,109.0,110.5,110.5,108.4,106.9,106.9,0.6,...,302,343,486,489,496,488,488,377,458,444
43,203114,Khris Middleton,1610612764,113.9,114.1,114.1,112.7,112.6,112.6,1.2,...,240,190,150,149,61,83,83,124,151,154
45,203468,CJ McCollum,1610612740,110.8,112.3,112.3,118.1,119.4,119.4,-7.3,...,300,336,47,49,158,249,249,220,35,26
48,203484,Kentavious Caldwell-Pope,1610612763,107.6,109.1,109.1,107.0,108.6,108.6,0.6,...,247,243,506,503,519,553,553,446,246,242
57,203903,Jordan Clarkson,1610612762,105.9,107.5,107.5,116.9,117.5,117.5,-11.0,...,413,374,43,40,129,206,206,189,99,75
60,203924,Jerami Grant,1610612757,105.4,107.4,107.4,112.5,113.4,113.4,-7.1,...,462,414,206,210,245,349,349,414,142,89
71,203991,Clint Capela,1610612737,107.9,108.7,108.7,110.9,111.5,111.5,-3.0,...,191,283,328,333,37,68,68,112,168,238
82,1626156,D'Angelo Russell,1610612751,109.1,110.1,110.1,109.9,111.6,111.6,-0.8,...,443,420,101,100,354,413,413,214,152,111
121,1627936,Alex Caruso,1610612760,117.0,117.5,117.5,102.3,102.5,102.5,14.7,...,254,271,397,399,141,172,172,196,297,297

In [10]:
df = pd.read_csv('/Users/macychen/VSCodeProjects/Analysis-of-NBA-Contract-Valuation-Bias/data/raw/raw_salary_caps.csv')

ParserError: Error tokenizing data. C error: Expected 10 fields in line 4, saw 11

In [9]:
from nba_api.stats.static import teams
teams.get_teams()

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]