In [8]:
import requests
import pandas as pd
from pathlib import Path
import io # To fix the FutureWarning

YEAR = "2024"
TARGET_URL = f"https://www.spotrac.com/nba/cap/_/year/{YEAR}"

PROJECT_ROOT = Path().resolve().parent.parent
RAW_SALARY_FILE = PROJECT_ROOT / "data" / "raw" / "raw_team_caps.csv"

print(f"Project Root: {PROJECT_ROOT}")
print(f"Target URL: {TARGET_URL}")
print(f"Target File: {RAW_SALARY_FILE}")

Project Root: /Users/macychen/VSCodeProjects/Analysis-of-NBA-Contract-Valuation-Bias
Target URL: https://www.spotrac.com/nba/cap/_/year/2024
Target File: /Users/macychen/VSCodeProjects/Analysis-of-NBA-Contract-Valuation-Bias/data/raw/raw_team_caps.csv

In [33]:
# Set browser header
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
}

all_teams_df = pd.DataFrame()

try:
    response = requests.get(TARGET_URL, headers=headers)
    response.raise_for_status()
        
    # Use io.StringIO to avoid the warning
    tables = pd.read_html(io.StringIO(response.text))
        
    if tables:
        # Directly assign the first table to the DataFrame
        all_teams_df = tables[0]
        
        # Rename columns if needed
        if len(all_teams_df.columns) == 10:
            all_teams_df.columns = ['rank', 'team', 'record', 'active_players', 'avg_team_age', 
                                   'total_cap_used', 'remaining_cap_space', 'active_cap', 
                                   'active_top_3', 'dead_cap']
    else:
        print(f"No tables found.")
            
except requests.exceptions.RequestException as e:
    print(f"Error fetching page: {e}")

all_teams_df

,rank,team,record,active_players,avg_team_age,total_cap_used,remaining_cap_space,active_cap,active_top_3,dead_cap
0,1.0,DET DET,44-38,15.0,25.0,"$141,808,220","$-1,220,220","$133,989,678","$56,559,037","$7,818,542"
1,2.0,ORL ORL,41-41,15.0,25.3,"$152,959,238","$-12,371,238","$152,959,238","$63,257,000",-
2,3.0,UTA UTA,17-65,15.0,23.9,"$154,114,022","$-13,526,022","$142,648,013","$86,906,400","$11,466,009"
3,4.0,SAS SAS,34-48,15.0,25.2,"$162,809,380","$-22,221,380","$155,231,927","$83,196,166","$7,577,453"
4,5.0,OKC OKC,68-14,15.0,24.2,"$166,001,694","$-25,413,694","$162,209,242","$82,859,950","$3,792,452"
5,6.0,CHA CHA,19-63,15.0,25.2,"$167,423,486","$-26,835,486","$152,436,862","$80,445,913","$14,986,624"
6,7.0,MEM MEM,48-34,15.0,24.6,"$167,814,933","$-27,226,933","$155,850,296","$95,988,718","$8,014,853"
7,8.0,CHI CHI,39-43,15.0,24.6,"$168,006,873","$-27,418,873","$157,180,244","$59,395,348","$8,739,110"
8,9.0,PHI PHI,24-58,15.0,26.6,"$170,340,647","$-29,752,647","$169,548,876","$135,768,738","$791,771"
9,10.0,IND IND,50-32,15.0,25.7,"$171,232,577","$-30,644,577","$166,839,774","$104,281,300","$2,530,538"
10,11.0,SAC SAC,40-42,15.0,27.4,"$171,370,782","$-30,782,782","$166,101,303","$107,131,940","$1,319,695"
11,12.0,HOU HOU,52-30,15.0,25.7,"$173,496,349","$-32,908,349","$161,552,948","$78,702,108","$7,768,363"
12,13.0,ATL ATL,40-42,15.0,25.3,"$174,418,704","$-33,830,704","$161,255,749","$81,912,604","$7,125,652"
13,14.0,LAC LAC,50-32,15.0,27.7,"$174,670,238","$-34,082,238","$166,986,734","$102,101,025","$3,733,720"
14,15.0,POR POR,36-46,15.0,23.9,"$176,848,446","$-36,260,446","$165,518,581","$89,691,087","$1,568,032"
15,16.0,CLE CLE,64-18,15.0,26.0,"$178,212,347","$-37,624,347","$169,371,096","$93,832,409","$491,175"
16,17.0,TOR TOR,30-52,15.0,24.9,"$178,496,026","$-37,908,026","$154,302,912","$94,310,843","$16,405,595"
17,18.0,BKN BKN,26-56,15.0,23.8,"$178,836,132","$-38,248,132","$112,077,151","$69,311,624","$58,408,905"
18,19.0,MIA MIA,37-45,15.0,26.6,"$179,350,729","$-38,762,729","$173,088,172","$90,125,126",-
19,20.0,NOP NOP,21-61,15.0,24.3,"$182,966,321","$-42,378,321","$167,934,095","$98,876,138","$2,715,108"
20,21.0,DAL DAL,39-43,15.0,26.8,"$187,147,472","$-46,559,472","$172,077,663","$99,092,456","$2,328,828"
21,22.0,NYK NYK,51-31,15.0,26.5,"$188,877,651","$-48,289,651","$188,001,268","$110,803,733","$876,383"
22,23.0,DEN DEN,50-32,15.0,26.0,"$192,786,656","$-52,198,656","$182,574,315","$123,292,088",-
23,24.0,MIL MIL,48-34,15.0,26.7,"$195,746,447","$-55,158,447","$183,221,333","$122,031,412",-
24,25.0,BOS BOS,61-21,15.0,27.5,"$197,048,229","$-56,460,229","$193,098,445","$114,054,140",-
25,26.0,GSW GSW,48-34,15.0,27.2,"$199,518,342","$-58,930,342","$176,474,440","$128,667,036","$306,447"
26,27.0,LAL LAL,50-32,15.0,27.7,"$200,785,985","$-60,197,985","$182,745,885","$108,760,785","$5,514,986"
27,28.0,WAS WAS,18-64,15.0,24.5,"$211,677,970","$-71,089,970","$162,581,956","$83,151,786","$7,021,331"
28,29.0,PHX PHX,36-46,15.0,28.1,"$228,464,502","$-87,876,502","$210,557,299","$150,588,751","$3,814,041"
29,30.0,MIN MIN,49-33,15.0,26.1,"$236,725,861","$-96,137,861","$198,847,571","$119,077,906","$3,705,899"
30,NaN,Totals,-,450.0,-,"$5,429,956,259","$-1,212,316,259","$4,997,263,066","$2,914,173,567","$188,821,512"
31,NaN,Averages,-,15.0,25.8,"$180,998,542","$-40,410,542","$166,575,436","$97,139,119","$6,294,050"

In [ ]:
# Drop rank column
team_caps_df = all_teams_df.drop('rank', axis = 1)
        
# Clean team column - extract only the first part before space
team_caps_df['team'] = team_caps_df['team'].str.split().str[0]

# Drop last two rows
team_caps_df = team_caps_df.iloc[:-2]

team_caps_df

,team,record,active_players,avg_team_age,total_cap_used,remaining_cap_space,active_cap,active_top_3,dead_cap
0,DET,44-38,15.0,25.0,"$141,808,220","$-1,220,220","$133,989,678","$56,559,037","$7,818,542"
1,ORL,41-41,15.0,25.3,"$152,959,238","$-12,371,238","$152,959,238","$63,257,000",-
2,UTA,17-65,15.0,23.9,"$154,114,022","$-13,526,022","$142,648,013","$86,906,400","$11,466,009"
3,SAS,34-48,15.0,25.2,"$162,809,380","$-22,221,380","$155,231,927","$83,196,166","$7,577,453"
4,OKC,68-14,15.0,24.2,"$166,001,694","$-25,413,694","$162,209,242","$82,859,950","$3,792,452"
5,CHA,19-63,15.0,25.2,"$167,423,486","$-26,835,486","$152,436,862","$80,445,913","$14,986,624"
6,MEM,48-34,15.0,24.6,"$167,814,933","$-27,226,933","$155,850,296","$95,988,718","$8,014,853"
7,CHI,39-43,15.0,24.6,"$168,006,873","$-27,418,873","$157,180,244","$59,395,348","$8,739,110"
8,PHI,24-58,15.0,26.6,"$170,340,647","$-29,752,647","$169,548,876","$135,768,738","$791,771"
9,IND,50-32,15.0,25.7,"$171,232,577","$-30,644,577","$166,839,774","$104,281,300","$2,530,538"
10,SAC,40-42,15.0,27.4,"$171,370,782","$-30,782,782","$166,101,303","$107,131,940","$1,319,695"
11,HOU,52-30,15.0,25.7,"$173,496,349","$-32,908,349","$161,552,948","$78,702,108","$7,768,363"
12,ATL,40-42,15.0,25.3,"$174,418,704","$-33,830,704","$161,255,749","$81,912,604","$7,125,652"
13,LAC,50-32,15.0,27.7,"$174,670,238","$-34,082,238","$166,986,734","$102,101,025","$3,733,720"
14,POR,36-46,15.0,23.9,"$176,848,446","$-36,260,446","$165,518,581","$89,691,087","$1,568,032"
15,CLE,64-18,15.0,26.0,"$178,212,347","$-37,624,347","$169,371,096","$93,832,409","$491,175"
16,TOR,30-52,15.0,24.9,"$178,496,026","$-37,908,026","$154,302,912","$94,310,843","$16,405,595"
17,BKN,26-56,15.0,23.8,"$178,836,132","$-38,248,132","$112,077,151","$69,311,624","$58,408,905"
18,MIA,37-45,15.0,26.6,"$179,350,729","$-38,762,729","$173,088,172","$90,125,126",-
19,NOP,21-61,15.0,24.3,"$182,966,321","$-42,378,321","$167,934,095","$98,876,138","$2,715,108"
20,DAL,39-43,15.0,26.8,"$187,147,472","$-46,559,472","$172,077,663","$99,092,456","$2,328,828"
21,NYK,51-31,15.0,26.5,"$188,877,651","$-48,289,651","$188,001,268","$110,803,733","$876,383"
22,DEN,50-32,15.0,26.0,"$192,786,656","$-52,198,656","$182,574,315","$123,292,088",-
23,MIL,48-34,15.0,26.7,"$195,746,447","$-55,158,447","$183,221,333","$122,031,412",-
24,BOS,61-21,15.0,27.5,"$197,048,229","$-56,460,229","$193,098,445","$114,054,140",-
25,GSW,48-34,15.0,27.2,"$199,518,342","$-58,930,342","$176,474,440","$128,667,036","$306,447"
26,LAL,50-32,15.0,27.7,"$200,785,985","$-60,197,985","$182,745,885","$108,760,785","$5,514,986"
27,WAS,18-64,15.0,24.5,"$211,677,970","$-71,089,970","$162,581,956","$83,151,786","$7,021,331"
28,PHX,36-46,15.0,28.1,"$228,464,502","$-87,876,502","$210,557,299","$150,588,751","$3,814,041"
29,MIN,49-33,15.0,26.1,"$236,725,861","$-96,137,861","$198,847,571","$119,077,906","$3,705,899"